@page "/workouts/add/{UserId:int}"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Administrator")]
<Div Margin="Margin.IsAuto.OnX" style="background:url(background.jpg);background-size:cover;opacity:90%;height:90vh">

	<EditForm Model="Workout" OnValidSubmit="@SaveCurrentWorkout">
		<DataAnnotationsValidator />
		<Div Padding="Padding.Is3" Margin="Margin.IsAuto.OnX" Style="width:33%">

			<Card Margin="Margin.Is5.FromTop" Shadow="Shadow.Default">
				<CardBody>
					<Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom.Is3.FromTop" TextAlignment="TextAlignment.Center">
						Create new Workout for @User.FirstName @User.LastName
					</Heading>

					<Field>
						<FieldLabel>
							Workout Name
						</FieldLabel>
						<FieldBody>
							<TextEdit Placeholder="e.g. Legs - Saturday" @bind-Text="Workout.Name" />
							<ValidationMessage For="@(() => Workout.Name)" />
						</FieldBody>
					</Field>

					<Field>
						<FieldLabel>
							Date
						</FieldLabel>
						<FieldBody>
							<DateEdit @bind-Date="Workout.Date" />
							<ValidationMessage For="@(() => Workout.Date)" />
						</FieldBody>
					</Field>

					<Field>
						<Button Type="ButtonType.Submit" Color="Color.Primary" Block>
							Create Workout
						</Button>
					</Field>


				</CardBody>
			</Card>
		</Div>
	</EditForm>
</Div>
